@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #333;
}

/* Calender */
.wrapper {
    background: black;
    width: 450px;
    border-radius: 10px;
}

.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}

header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
    color: #fff;
}

header .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;

}

header .icons span:hover {
    background: #f2f2f2;
    color: black;
}

header .icons span:last-child {
    margin-right: -10px;
}

.calender {
    padding: 20px;
    
}

.calender ul {
    display: flex;
    text-align: center;
    list-style: none;
    flex-wrap: wrap;
    color: #fff;
}

.calender .days {
    margin-bottom: 20px;
}

.calender .weeks li {
    font-weight: 500;
}

.calender ul li {
    position: relative;
    width: calc(100% / 7);

}

.calender .days li {
    z-index: 1;
    margin-top: 30px;
    cursor: pointer;
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}

.calender .days li::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);

}
.days li:hover{
    color: black;
}

.days li:hover::before {
   
    background: #f2f2f2;
    
    
}

.days li.active::before {
    background: #333;
    
}